

.SearchBar{
    height: 4em;
    border-radius: 15px;
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    justify-content: space-around;
}

.resultSorter{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-inline: 0.5em;
    margin: 0.5em;
}

.SearchBar__values{
    width: 3em;
}