

.Home__charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width:762px){
    .Home__charts{ flex-direction: row;}
    
}