
.Home__title{
    font-size: x-large;
}

.Home__charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--clr-mainLight);
    border-radius: 15px;
    padding: 1em;
    margin-block: 2em;
    max-width: 100vw;
    overflow: hidden;
}

@media (min-width:950px){
    .Home__charts{ flex-direction: row;}
    
}