

.CategoryItem{
    display: inline-flex;
    align-items: center;
    gap: 1em;
    border-radius: 15px;
    padding: 1em;
    justify-content: space-between;
    height: 4em;
    transition: all 250ms ease-in-out;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    border: 1px solid black;
    transition:0.5s;
    margin: 1em;
    width: max-content;
}

.CategoryItem__options{
    display: flex;  
    align-items: center;
    gap: 1em;
    justify-content: flex-end;
    background: inherit;
}

.CategoryItem__options_item{
    width: 2.5em;
    cursor: pointer;

}

.CategoryItem:hover{
    transform: scale(1.05);
}

.CategoryItem__name{
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(10) brightness(15);
    
}