

.Pagination{
    display: flex;
    position: relative;
    font-size: larger;
    margin: 1em;
    background-color: hsla(191, 99%, 55%, 0.213);
    border-radius: 15px;
    width: fit-content;
    align-self: center;
}

.Pagination__rightArrow{
    fill: var(--clr-main);
    width: 2em;
    cursor: pointer;
    transform: rotate(180deg);
    padding: 0.2em;
}

.Pagination__leftArrow{
    fill: var(--clr-main);
    width: 2em;
    padding: 0.2em;
    cursor: pointer;
}

.Pagination__numbersEven{
   background-color: var(--clr-mainLight);
   padding: 0.3em;
}

.Pagination__numbers{
    background-color: var(--clr-main);
    padding: 0.3em;
 }

 .Pagination__current{
    background-color: lightseagreen;
    color: white;
    cursor: unset;
    padding: 0.3em;
}

.Pagination__numbers:hover, .Pagination__numbersEven:hover, .Pagination__leftArrow:hover{
    transform: scale(1.1);
}

.Pagination__rightArrow:hover{
    transform: scale(1.1) rotate(180deg);
}

.Pagination__dots, .Pagination__leftArrow{
    fill: var(--clr-main);
    width: 2em;
    padding: 0.2em;
}