@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,  'Fira Sans', sans-serif,'Fredoka One', cursive;
  font-weight: 600;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --clr-light: hsl(0, 0%, 98%); /* Color claro */
  --clr-dark: hsl(240, 5%, 11%); /* Color oscuro */
  --clr-main: #61efeb;
  --clr-mainLight: #cefdfc;
}





@layer components {
  .bg-primary {
    @apply bg-cyan-300
  }
}

/* Ancho */
::-webkit-scrollbar {
  width: 10px;
}

/* Base */
::-webkit-scrollbar-track {
  background: var(--clr-mainLight);
}

/* Scroll */
::-webkit-scrollbar-thumb {
  background: lightseagreen;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
}